{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <header>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1>Subway Badges</h1>
            </div>
        </div>
    </header>
    <section>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <form method="get" class="form">
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-lg btn-primary">
                    Submit
                    </button>
                {% endbuttons %}
                </form>
            </div>
        </div>
    </section>
    <section>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            {{ img|safe }}
        </div>
    </div>
    </section>
{% endblock %}